:root { 
--blue_gray_100:#cccccc; 
--black_900:#000000; 
--blue_gray_50:#eff0f1; 
--indigo_A700:#0018f7; 
--teal_700:#007d6e; 
--gray_900_7f:#2727277f; 
--gray_900:#1a1a1a; 
--blue_gray_800:#2a6049; 
--deep_orange_400:#ec744a; 
--white_A700:#ffffff; 
--gray_50:#fcf8f4; 
--green_400:#5eb47c; 
}